$blue-000: #e8f5fd;
$blue-100: #1c9bf0;
$blue-200: #198bd8;
$blue-300: #0e4e78;

$dark-000: #ffffff;
$dark-100: #eff3f4;
$dark-300: #dbdcdd;
$dark-400: #38444d;
$dark-500: #303234;
$dark-700: #10151b;
$dark-900: #000000;
